#frens {
    user-select: none;
}

#frens.tab-content.active {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(100% - 60px);
    justify-content: center;
    left: 0;
    overflow: auto;
    padding: 15px 16px 10px;
    position: absolute;
    scrollbar-width: none;
    top: 0;
    width: 100%;
    animation: 0.25s ease-in-out 0s 1 normal forwards running is-show-anim;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    text-align: start;
    text-size-adjust: 100%;
    white-space: normal;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(13, 13, 13);
}

#frens .scroll-able {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 20px;
    overflow-y: auto;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: start;
    font-weight: 600;
    white-space: normal;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(13, 13, 13);
}

#frens .strong.mx-2 {
    box-sizing: border-box;
    margin-left: 8px;
    margin-right: 8px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    text-align: left;
    text-size-adjust: 100%;
    white-space: normal;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(13, 13, 13);
}

#frens .total-users {
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 0;
    align-items: center;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(21, 21, 22);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 13px;
    font-weight: 600;
    justify-content: space-between;
    padding: 8px 24px;
    width: 100%;
    line-height: 13px;
    text-align: start;
    text-size-adjust: 100%;
    white-space: normal;
}

#frens .users-list-con {
    box-sizing: border-box;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(21, 21, 22);
    border-radius: 16px;
    color: rgb(255, 255, 255);
    overflow: auto;
    font-weight: 600;
    text-align: start;
    white-space: normal;
}

#frens .users-list {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 32px;
    font-weight: 600;
    line-height: 16px;
    text-align: start;
    text-size-adjust: 100%;
    white-space: normal;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(21, 21, 22);
}


#frens .date {
    box-sizing: border-box;
    color: rgb(142, 142, 147);
    font-size: 14px;
    line-height: 19.2px;
    font-weight: 400;
    text-align: start;
    text-size-adjust: 100%;
    white-space: normal;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(21, 21, 22);
}

#frens .count {
    box-sizing: border-box;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 13px;
    text-align: start;
    text-size-adjust: 100%;
    white-space: normal;
}

#frens .amount {
    box-sizing: border-box;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    line-height: 20.4px;
    font-weight: 600;
    text-align: start;
    text-size-adjust: 100%;
    white-space: normal;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(21, 21, 22);
}

#frens .descr {
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
    opacity: 0.75;
    color: rgb(52, 199, 89);
    line-height: 20px;
    font-weight: 400;
    text-align: start;
    text-size-adjust: 100%;
    white-space: normal;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(21, 21, 22);
}

#frens .btn-item {
    box-sizing: border-box;
    align-items: center;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(76, 156, 226);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    min-height: 50px;
    width: 94%;
    text-align: start;
    white-space: normal;
}

#frens .wallet-con {
    box-sizing: border-box;
    line-height: 19.2px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    text-size-adjust: 100%;
    white-space: normal;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(21, 21, 22);
}

#frens .icon-con {
    box-sizing: border-box;
    line-height: 0px;
    align-items: center;
    background: none 0 0 / auto repeat scroll padding-box border-box rgb(124, 124, 124);
    border-radius: 50%;
    display: flex;
    height: 36px;
    justify-content: center;
    margin-right: 12px;
    min-width: 36px;
    overflow: hidden;
    width: 36px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    text-size-adjust: 100%;
    white-space: normal;

}
